= page_title @title
= page_description @description

- @grouped_feeds.each do |date, feeds|
  %h2= Russian.strftime Time.parse(date), "%a, %d %B %Y"
  = render partial: 'feed', collection: feeds

= paginate @feeds