= page_title @title

%p
  %em= Russian.strftime(@feed.published_at, "%d %B %Y, %H:%M")

%h4= @feed.title.try(:html_safe)
- if @feed.summary
  %blockquote
    %p
      %em{:class => 'text-info'}= @feed.summary.html_safe

%blockquote
  - if @feed.main_html_content
    %p= @feed.main_html_content.html_safe

  .share-buttons
    = render partial: 'social_buttons'
  .news-source
    %small= link_to "Источник", feeds_goto_path( :url => @feed.url ), :class => 'muted news_source text-right'


- if @feed.descendants.present?
  %div.similars
    %p.text-success Похожие новости:
    %ul
      - @feed.descendants.each do |child|
        %li
          = link_to child.title.try(:html_safe), feed_path(child), :class => :entry
          %em= Russian.strftime(child.published_at, "%d %B %Y, %H:%M")

:javascript
  $(document).ready(function() {
    $("a.news_source").click(function(){
      window.open($(this).attr('href'));
      return false;
    });
  });